@import url(reset.css);
/* ------------------HEADER-------------------- */
h1,
h2,
h3{
color: brown;
}
.sub-title {
color: firebrick;
}
.climate{
color: red;
}
.population {
color: green;
}
.religion {
color: blue;
}
.transport {
color: yellow;
}
.header-list-item.kitchen {
color: orange;
}
/* ------------------MAIN---------------------- */
.main-text p{
color:darkolivegreen;
}
.text-climate .text{
color: darkgoldenrod;
}
.population-text>p{
	color: mediumblue;
}
.title-religion~p{
color: goldenrod;	
}
div.transport.block{
	color: slateblue;
}
.transport-img+p{
	color: darkturquoise;
}
.kitchen-list-item *{
color:mediumpurple;
}
/* -------------------FOOTER---------------- */
footer div{
color:chocolate;	
}